In [ ]:
# Notebook for Pandas Practice
# .venv\Scripts\activate.bat

In [32]:
import pandas as pd

coffee = pd.read_csv("C:/Users/Affan/Desktop/ML Work Stuff/ML-Work/Datasets/coffee.csv")
display(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [8]:
coffee.tail(3)

         Day Coffee Type  Units Sold
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [31]:
display(coffee.sample(4))

         Day Coffee Type  Units Sold
9     Friday       Latte          35
12    Sunday    Espresso          45
7   Thursday       Latte          30
1     Monday       Latte          15

In [30]:
display(coffee.sample(frac=0.5))

          Day Coffee Type  Units Sold
6    Thursday    Espresso          40
11   Saturday       Latte          35
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
3     Tuesday       Latte          20
0      Monday    Espresso          25
12     Sunday    Espresso          45

In [34]:
display(coffee.loc[coffee["Day"]=="Wednesday"])
print("-------------------------------------------")
display(coffee.iloc[5])
print("-------------------------------------------")
display(coffee.loc[coffee["Coffee Type"]=="Latte"])

         Day Coffee Type  Units Sold
4  Wednesday    Espresso          35
5  Wednesday       Latte          25

-------------------------------------------

Day            Wednesday
Coffee Type        Latte
Units Sold            25
Name: 5, dtype: object

-------------------------------------------

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
5   Wednesday       Latte          25
7    Thursday       Latte          30
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35

In [40]:
coffee.loc[(coffee["Day"]=="Friday") & (coffee["Coffee Type"]=="Latte"),"Units Sold"]=38
display(coffee.loc[(coffee["Day"]=="Friday")&(coffee["Coffee Type"]=="Latte")])

      Day Coffee Type  Units Sold
9  Friday       Latte          38

In [42]:
coffee.iloc[2,2]=18
display(coffee.iloc[2])

Day             Tuesday
Coffee Type    Espresso
Units Sold           18
Name: 2, dtype: object

6. Sorting
Sort the entire DataFrame by Units Sold in descending order.

Sort the data first by Day, then by Coffee Type in ascending order.

🔹 7. Column & Row Selection
Extract only the Day and Units Sold columns.

Print the unique days in the dataset using .unique() (optional).

Find total units sold per Coffee Type using filtering (groupby comes later).